<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Code de vérification</title>
  </head>
  <body style="font-family: Arial, sans-serif; background-color: #f9f9f9; margin: 0; padding: 0;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff;">
      <!-- Bannière -->
      <!-- <img src="http://localhost:3000/images/banner_rociny.jpg" alt="Bannière Rociny" style="width: 100%; height: auto;" /> -->

      <!-- Contenu principal -->
      <div style="padding: 20px;">
        <h2 style="color: #015845;">Bienvenue sur Rociny</h2>
        <p>Bonjour,</p>
        <p>Merci de vous être inscrit sur Rociny. Pour finaliser la création de votre compte, veuillez utiliser le code de vérification ci-dessous :</p>
        <h3 style="color: #015845;">Vérification de votre adresse e-mail</h3>
        <div style="text-align: center; margin: 30px 0;">
          <span style="font-size: 32px; font-weight: bold; color: #015845; background: #e8f5f1; padding: 10px 20px; border-radius: 8px;">
            {{code}}
          </span>
        </div>

        <p>Ce code est valable pendant 5 minutes.</p>
        <p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail.</p>

        <p style="margin-top: 40px;">L’équipe Rociny</p>
      </div>

      <!-- Footer -->
      <div style="background-color: #f0f0f0; padding: 10px; text-align: center; font-size: 12px; color: #666;">
        © 2025 Rociny. Tous droits réservés.
      </div>
    </div>
  </body>
</html>
